<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                fkdshflsadhflkadshf
            </div>
            <div class="modal-body">
                f,sdnf.dsnf.d
            </div>
            <div class="modal-footer">
                f,smdfn,msdnf,dsmnf,
            </div>
        </div>
    </div>
</div>
